.hero-form {
    display: flex;
    flex-direction: column;
}

.form-text {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.form-input, .form-button {
    width: 100%;
}

.form-button {
    height: 55px;
    background: #FF6565;
    border: 1px solid #FF6565;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
}

.form-input {
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 6px;
    margin:  5px 0px 20px 0px;
    padding: 0 10px;

    outline: none;
}